<div class="home-page mr-[18px] w-[872px]">
  <div class="home__news">
    <div
      class="home__news-post flex flex-col rounded-[10px] bg-[#fff] pl-[48px] pr-[24px] overflow-hidden"
    >
      <form [formGroup]="form" class="home__news-post__form" (ngSubmit)="clickCreatePost()">
        <input
          type="text"
          class="home__news-title placeholder:text-[22px] text-[22px] w-full py-[16px] outline-none border-b-[1px] border-solid border-[#EBEBEB]"
          formControlName="titlePost"
          [ngClass]="{
            hidden: !isPostsOpen,
            block: isPostsOpen
          }"
          placeholder="Укажите заголовок"
        />
        <textarea
          class="home__news-input text-[22px] placeholder:text-[22px] outline-none py-[16px] w-full min-h-[60px] resize-none overflow-hidden border-b-[1px] border-solid border-[#EBEBEB]"
          [ngClass]="{
            'mt-0': !isPostsOpen,
            'mt-[40px]': isPostsOpen
          }"
          placeholder="Что у Вас нового, товарищ?"
          formControlName="textPost"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          #post_block
          cdkAutosizeMinRows="1"
          (click)="isPostsOpen = true"
        ></textarea>
        <button
          class="home__news-button text-[20px] text-[#fff] bg-[#00A3FF] px-[52px] py-[8px] rounded-[5px] self-end my-[32px] hover:bg-[#52C1FF] duration-[250ms]"
          type="submit"
          [ngClass]="{
            hidden: !isPostsOpen,
            block: isPostsOpen
          }"
        >
          Выложить
        </button>
      </form>
    </div>
  </div>
  <app-post-block
    *ngFor="let post of postService.posts; let i = index"
    [post]="post"
  ></app-post-block>
</div>
