<div
  class="home-page xl:mx-[18px] w-[872px] max-xl:w-full"
  #homePage
  (scroll)="trackingScrollPosts($event)"
>
  <div
    class="home__news rounded-[10px] bg-[#fff] pl-[48px] pr-[24px] overflow-hidden"
    [ngClass]="{
      'min-h-[276px] relative': !this.postService.isLoadedPosts
    }"
  >
    <div
      class="home__news-post"
      *ngIf="this.postService.isLoadedPosts; else loader__posts"
    >
      <form
        [formGroup]="form"
        class="home__news-post__form flex flex-col"
        (ngSubmit)="clickCreatePost()"
      >
        <input
          type="text"
          class="home__news-title placeholder:text-[22px] max-sm:placeholder:text-[13px] max-[540px]:placeholder:text-[13px] text-[22px] w-full py-[16px] outline-none border-b-[1px] border-solid border-[#EBEBEB]"
          formControlName="titlePost"
          [ngClass]="{
            hidden: !isPostsOpen,
            block: isPostsOpen
          }"
          placeholder="Укажите заголовок"
        />
        <textarea
          class="home__news-input text-[18px] placeholder:text-[22px] max-[540px]:placeholder:text-[13px] max-sm:placeholder:text-[13px] outline-none py-[16px] w-full min-h-[60px] resize-none overflow-hidden border-b-[1px] border-solid border-[#EBEBEB]"
          [ngClass]="{
            'mt-0': !isPostsOpen,
            'mt-[40px]': isPostsOpen
          }"
          placeholder="Что у Вас нового, товарищ?"
          formControlName="textPost"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          #post_block
          cdkAutosizeMinRows="1"
          (click)="isPostsOpen = true"
        ></textarea>
        <button
          class="home__news-button text-[20px] max-sm:text-[18px] text-[#fff] bg-[#00A3FF] px-[52px] py-[8px] rounded-[5px] self-end my-[32px] hover:bg-[#52C1FF] duration-[250ms]"
          type="submit"
          [ngClass]="{
            hidden: !isPostsOpen,
            block: isPostsOpen
          }"
        >
          Выложить
        </button>
      </form>
    </div>
  </div>
  <app-post-block
    *ngFor="let post of postService.postsData; let i = index"
    [post]="post"
  ></app-post-block>
  <div class="loading__posts" *ngIf="!this.isLastPosts; else template_last_posts">
    <div
      class="loader__additionally__posts"
      *ngIf="this.isLoadedAdditionallyPosts; else loader__additionally__posts"
    ></div>
  </div>
</div>

<ng-template #loader__posts>
  <app-lodaer-spin-v1 class="home__page"></app-lodaer-spin-v1>
</ng-template>

<ng-template #loader__additionally__posts>
  <app-loader-home></app-loader-home>
</ng-template>

<ng-template #template_last_posts>
  <div class="last__posts text-center mb-[20px]">
    <p class="last__posts_text text-[18px]">В настоящее время нет новых постов</p>
  </div>
</ng-template>
