<ul class="friends-page__list-search">
    <li
      class="friends-page__list-friends__content flex items-center pt-[16px] pb-[32px] pl-[8px] border-b-[1px] border-solid border-[#EBEBEB]"
      *ngFor="
        let friend of friendsService.listSearchFriends
        let i = index
      "
    >
      <div class="list-friends__content-avatar pr-[16px] w-[82px] h-[82px]">
        <img
          class="w-full h-full"
          src="../../../assets/img/avatar.svg"
          alt="user-avatar"
        />
      </div>
      <div class="list-friends__content-info">
        <h2
          class="list-friends__content-info info__username text-[20px] mb-[4px] cursor-pointer hover:text-[#00A3FF] duration-[250ms]"
          (click)="friendsService.goToPageFriend(friend.id)"
        >
          {{ friend.username }}
        </h2>
        <div class="list-friends__content-info content-block">
          <div
            class="list-friends__content-info info__text text-[#7A7A7A] mb-[4px]"
          >
            Возраст: {{ friend.age }}
          </div>
          <a
            class="list-friends__content-info friend__link text-[#00A3FF] cursor-pointer hover:text-[#56C2FF] duration-[250ms]"
            (click)="friendsService.goToChat(friend.id)"
            >Написать сообщение</a
          >
        </div>
      </div>
    </li>
  </ul>
