<div class="form-group">
  <label
    class="register__form__age-title inline-block mb-[4px] text-[18px] pl-[8px] text-[#00A3FF]"
    >Возраст</label
  >
  <mat-form-field class="w-full">
    <mat-label>Введите дату рождения</mat-label>
    <input
      matInput
      formControlName="birthday"
      [matDatepicker]="picker"
      (dateChange)="setAgeValue($event.value)"
    />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div
    *ngIf="
      birthdayPerson?.invalid &&
      (birthdayPerson?.touched || birthdayPerson?.dirty)
    "
    class="form__errors text-[red] mt-[8px]"
  >
    <div class="form__errors-required" *ngIf="birthdayPerson?.errors?.['required']">
      Вы не заполнили поле
    </div>
  </div>
</div>

<div class="form-group my-[16px] pl-[8px]">
  <label
    class="register__form__username-title block mb-[4px] text-[18px] text-[#00A3FF]"
    >Пол</label
  >
  <div class="register__from__gender-group flex items-center">
    <input
      formControlName="genderMan"
      type="checkbox"
      class="register__form__gender"
      (change)="changeValueCheckbox('man')"
      #refCheckboxMan
    />
    <span class="pl-[4px] text-[16px] mr-[25px]">Мужской</span>
    <input
      formControlName="genderWoman"
      type="checkbox"
      class="register__form__gender"
      (change)="changeValueCheckbox('woman')"
      #refCheckboxWoman
    /><span class="pl-[4px] text-[16px]">Женский</span>
  </div>
</div>
