<div class="casting-page__inner xl:mr-[18px] max-xl:w-full mb-[18px] w-[872px] max-[540px]:min-w-[275px] max-h-[950px] bg-[#fff]  rounded-[10px]">
  <div
    class="casting-page__links flex items-center justify-center text-[22px] max-[540px]:text-[18px] py-[20px] border-b-[1px] border-[#EBEBEB] w-full"
    [ngClass]="{ hidden: !isClickCard, block: isClickCard }"
  >
    <a
      appActiveLink
      [argLinks]="castingLink"
      routerLink="/casting/contacts"
      class="casting-page__links-contacts hover:text-[#00A3FF] duration-[250ms] mr-[48px] max-[540px]:mr-[30px]"
      [ngClass]="{
        'text-[#00A3FF]':
          this.castingService.getActiveLinks().castingLink === 'active'
      }"
      >Знакомства</a
    >
    <a
      appActiveLink
      [argLinks]="likeLink"
      routerLink="/casting/likes"
      class="casting-page__links-like hover:text-[#00A3FF] duration-[250ms]"
      [ngClass]="{
        'text-[#00A3FF]':
          this.castingService.getActiveLinks().likeLink === 'active'
      }"
      >Вы нравитесь</a
    >
  </div>
  <div
    class="casting-page__links max-lg:flex-col max-lg:py-[100px] max-lg:px-[30px] flex justify-between items-center px-[64px] py-[206px]"
    [ngClass]="{ hidden: isClickCard, block: !isClickCard }"
  >
    <div
      class="casting-page__link lg:mr-[26px] max-lg:mb-[26px] max-lg:max-w-[300px] max-lg:h-[300px] max-lg:flex max-lg:justify-center max-lg:items-center max-[540px]:max-w-[260px] max-[540px]:max-h-[260px] max-[329px]:max-w-[200px] max-[329px]:max-w-[200px] w-[350px] bg-[#EBEBEB] rounded-[10px] hover:brightness-[.80] duration-[200ms]"
    >
      <!-- <div class="casting-page__link-view absolute bg-black/50 inset-0 z-[-1] opacity-0"></div> -->
      <div class="casting-page__link-title">
        <a
          appActiveLink
          [argLinks]="castingLink"
          routerLink="/casting/contacts"
          class="casting-page__link-title__link text-[26px] max-lg:text-[20px] lg:px-[90px] lg:h-[550px] flex items-center z-10"
        >
          Знакомства
        </a>
      </div>
    </div>

    <div
      class="casting-page__link max-lg:max-w-[300px] max-lg:h-[300px] max-lg:flex max-lg:justify-center max-lg:items-center max-[540px]:max-w-[260px] max-[540px]:max-h-[260px] max-[329px]:max-w-[200px] max-[329px]:max-w-[200px] w-[350px] bg-[#EBEBEB] rounded-[10px] hover:brightness-[.80] duration-[200ms]"
    >
      <!-- <div class="casting-page__link-view absolute bg-black/50 inset-0"></div> -->
      <div class="casting-page__link-title">
        <a
          appActiveLink
          [argLinks]="likeLink"
          routerLink="/casting/likes"
          class="casting-page__link-title__link text-[26px] max-lg:text-[20px] lg:px-[90px] lg:h-[550px] flex items-center"
        >
          Вы нравитесь
        </a>
      </div>
    </div>
  </div>
  <div class="casting-page__cards">
    <router-outlet></router-outlet>
  </div>
</div>
