<div class="casting-page__inner mr-[18px] w-[872px] bg-[#fff] rounded-[10px]">
  <div
    class="casting-page__links flex items-center justify-center text-[22px] py-[20px] border-b-[1px] border-[#EBEBEB] w-full"
    [ngClass]="{ hidden: !isClickCard, block: isClickCard }"
  >
    <a
      appActiveLink
      [argLinks]="castingLink"
      routerLink="/casting/contacts"
      class="casting-page__links-contacts hover:text-[#00A3FF] duration-[250ms] mr-[48px]"
      [ngClass]="{
        'text-[#00A3FF]':
          this.castingService.getActiveLinks().castingLink === 'active'
      }"
      >Знакомства</a
    >
    <a
      appActiveLink
      [argLinks]="likeLink"
      routerLink="/casting/likes"
      class="casting-page__links-like hover:text-[#00A3FF] duration-[250ms]"
      [ngClass]="{
        'text-[#00A3FF]':
          this.castingService.getActiveLinks().likeLink === 'active'
      }"
      >Вы нравитесь</a
    >
  </div>
  <div
    class="casting-page__links flex justify-between items-center px-[64px] py-[206px]"
    [ngClass]="{ hidden: isClickCard, block: !isClickCard }"
  >
    <div
      class="casting-page__link mr-[26px] bg-[#EBEBEB] rounded-[10px] hover:brightness-[.80] duration-[200ms]"
    >
      <!-- <div class="casting-page__link-view absolute bg-black/50 inset-0 z-[-1] opacity-0"></div> -->
      <div class="casting-page__link-title">
        <a
          appActiveLink
          [argLinks]="castingLink"
          routerLink="/casting/contacts"
          class="casting-page__link-title__link text-[26px] px-[90px] h-[550px] flex items-center z-10"
        >
          Знакомства
        </a>
      </div>
    </div>

    <div
      class="casting-page__link bg-[#EBEBEB] rounded-[10px] hover:brightness-[.80] duration-[200ms]"
    >
      <!-- <div class="casting-page__link-view absolute bg-black/50 inset-0"></div> -->
      <div class="casting-page__link-title">
        <a
          appActiveLink
          [argLinks]="likeLink"
          routerLink="/casting/likes"
          class="casting-page__link-title__link text-[26px] px-[90px] h-[550px] flex items-center"
        >
          Вы нравитесь
        </a>
      </div>
    </div>
  </div>
  <div class="casting-page__cards">
    <router-outlet></router-outlet>
  </div>
</div>
