<div
  [ngStyle]="{'background-image': 'linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(' + infoCard.imageUrl + ')'}"
  class="likes-page__card bg-no-repeat bg-cover bg-center rounded-[20px] origin-[50%_100%]"
  id="card_swipe"
>
  <div class="likes-page__card-info text-[#fff] px-[16px] pt-[16px] pb-[260px] object-cover object-top">
    <h2 class="likes-page__card-username text-[22px]">{{ infoCard.name }}</h2>
    <div class="likes-page__card-age flex items-center mb-[8px]">
      <div class="likes-page__card-age__title text-[18px] pr-[5px]">
        Возраст:
      </div>
      <div class="likes-page__card-age__content text-[14px]">
        {{infoCard.age}}
      </div>
    </div>
    <div class="likes-page__card-hobby flex items-center mb-[8px]">
      <div class="likes-page__card-hobby__title text-[18px] pr-[5px]">
        Хобби:
      </div>
      <div class="likes-page__card-hobby__content text-[14px]">
        {{ infoCard.hobby }}
      </div>
    </div>
    <div class="likes-page__card-about flex">
      <span
        class="likes-page__card-about__title text-[18px] pr-[5px] whitespace-nowrap"
        >О себе:</span
      >
      <div class="likes-page__card-about__content text-[14px] pt-[3px]">
        {{ infoCard.about }}
      </div>
    </div>
  </div>
  <div
    class="likes-page__card-buttons flex items-center justify-center py-[48px]"
  >
    <button
      class="likes-page__card-like mr-[48px] bg-[#00A3FF] rounded-[50%] flex items-center justify-center w-[49px] h-[49px] hover:bg-[#56C2FF] duration-[250ms]"
      (click)="clickLikeButton()"
    >
      <svg
        class="button__like-svg"
        width="24"
        height="22"
        viewBox="0 0 24 22"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M17.842 0.509181C14.1862 0.579587 12.397 3.16685 12 5.51913C11.603 3.16685 9.81384 0.57954 6.15797 0.509181C2.78728 0.4444 0 3.03724 0 7.76918C0 13.8436 6.87103 16.6496 11.5695 21.1871C11.7331 21.3452 11.6946 21.3411 11.6946 21.3411C11.7718 21.4363 11.8828 21.4915 11.9995 21.4915V21.492C11.9995 21.492 11.9998 21.492 12 21.492C12 21.492 12.0003 21.492 12.0005 21.492V21.4915C12.1172 21.4915 12.2281 21.4363 12.3053 21.3411C12.3053 21.3411 12.2669 21.3451 12.4305 21.1871C17.129 16.6496 24 13.8436 24 7.76918C24 3.03724 21.2127 0.4444 17.842 0.509181Z"
          fill="white"
          stroke="white"
          stroke-width="0.125"
        />
      </svg>
    </button>
    <button
      class="likes-page__card-unlike bg-[#00A3FF] rounded-[50%] flex items-center justify-center w-[49px] h-[49px] hover:bg-[#56C2FF] duration-[250ms]"
      (click)="clickDislikeButton()"
    >
      <svg
        class="button__unlike-svg"
        width="24"
        height="22"
        viewBox="0 0 24 22"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M17.4782 0.193255C15.9115 0.190255 14.314 0.822505 13.0585 2.213L14.8 9.00575L13.2355 9.00726L14.8892 15.1888L9.42697 6.37325L11.7685 6.62451L9.47647 1.21325C5.63572 -1.06825 0.222216 0.889254 0.397716 6.40025C0.603966 12.8788 9.34522 15.0395 11.9762 21.92C14.755 15.0388 23.7347 13.2935 23.5195 6.40025C23.3995 2.561 20.4962 0.198505 17.4782 0.193255Z"
          fill="white"
          stroke="white"
          stroke-width="0.00064"
        />
      </svg>
    </button>
  </div>
</div>
