<div class="messages-page mr-[18px] w-[872px] bg-[#fff] rounded-[10px]">
  <h1
    class="messages-page__title text-[24px] py-[22px] border-b-[1px] border-[#EBEBEB] text-center"
  >
    Сообщения
  </h1>
  <ul
    class="messages-page__list-messages pt-[35px] px-[32px] pb-[64px]"
    *ngIf="this.chatService.allChatsUser.length !== 0; else empty_list_chats"
  >
    <li
      class="messages-page__list-messages__content flex items-center pt-[16px] pb-[32px] pl-[8px] border-b-[1px] border-solid border-[#EBEBEB] hover:bg-[#EBEBEB] duration-[250ms] cursor-pointer"
      *ngFor="let chat of this.chatService.allChatsUser; let i = index"
      (click)="this.isOwnChat(chat.chatId) ? goToChat(chat.recipientId) : goToChat(chat.senderId)"
    >
      <div class="list-messages__content-avatar pr-[16px]">
        <img src="../../../assets/img/avatar.svg" alt="user-avatar" />
      </div>
      <div class="list-messages__content-info">
        <h2
          class="list-messages__content-info info__username text-[20px] mb-[6px]"
        >
          {{ this.isOwnChat(chat.chatId) ? chat.recipientName : chat.senderName}}
        </h2>
        <div class="list-messages__content-info info__text text-[#7A7A7A] flex items-center">
          <span class="pr-[5px]" *ngIf="this.isOwnLastMessage(chat.idLastSender)">Вы:</span>
          {{ chat.content.length > 30 ? (chat.content | slice : 0 : 30) + '...' : chat.content}}
        </div>
      </div>
    </li>
  </ul>
</div>

<ng-template #empty_list_chats>
  <div class="empty__chats flex justify-center items-center">
    <div class="empty__chats-text py-[50px] text-[20px] text-[#7A7A7A]">
      <p>В данный момент у вас нет начатых чатов.</p>
    </div>
  </div>
</ng-template>
