<div
  class="notifications absolute z-[500] min-w-[379px] max-sm:min-w-[260px] max-[329px]:min-w-[200px] right-0 top-[75px] bg-[#DEDEDE] rounded-b-lg overflow-hidden"
  [ngClass]="{
    'invisible opacity-0': !(
      this.notificationService.isOpenNotifications$ | async
    ),
    'visible opacity-100 transition-[opacity] duration-[100ms]':
      this.notificationService.isOpenNotifications$ | async
  }"
>
  <div class="notifications__inner" #notificationContainer>
    <h2
      class="notifications__title text-[22px] max-sm:text-[20px] max-[329px]:text-[16px] text-center py-[24px] border-b-[1px] border-b-[#B6B6B6]"
    >
      Уведомления
    </h2>
    <ul
      class="notifications__list max-h-[145px] overflow-auto"
      *ngIf="
        this.currentCountNotification !== 0;
        else empty__list_notifications
      "
    >
      <li
        *ngFor="
          let notificationGroup of this.notificationService.notificationList$
            | async
        "
        class="notifications__point border-b-[1px] border-solid border-b-[#B6B6B6]"
        [attr.data-sender-id]="notificationGroup[0].senderId"
      >
        <div class="notifications__point-content relative inline-block">
          <p
            class="px-[16px] py-[15px] text-[16px] max-sm:text-center max-[329px]:text-[13px]"
          >
            Вы получили новое сообщение от
            <span
              class="text-[#00A3FF] hover:text-[#56C2FF] hover:underline duration-[250ms]"
              (click)="
                this.friendsService.goToPageFriend(
                  notificationGroup[0].senderId
                )
              "
              >{{ notificationGroup[0].senderName }}</span
            >
          </p>
          <span class="notifications__point-count absolute top-[30px] right-0 w-[10px] h-[10px] flex justify-center items-center p-[7px] text-[12px] rounded-[50px] text-[#FFFFFF] bg-[#00A3FF]">{{notificationGroup.length}}</span>
        </div>
      </li>
    </ul>
  </div>
</div>

<ng-template #empty__list_notifications>
  <div class="empty__list flex justify-center items-center py-[16px]">
    <p class="empty__list-text max-sm:text-center max-[329px]:text-[13px]">
      В данный момент у вас нет уведомлений
    </p>
  </div>
</ng-template>
