<app-header></app-header>
<div class="wrapper">
  <main class="main">
    <div class="container">
      <div class="main__inner flex mt-[68px] justify-between">
        <router-outlet class="hidden"></router-outlet>
        <div
          *ngIf="
            !hasRoute('signin') && !hasRoute('signup') && !hasRoute('person')
          "
          class="main__additionally-info flex flex-col"
        >
          <app-friends-routing
            *ngIf="hasRoute('subscribers')"
          ></app-friends-routing>
          <app-my-page class="mb-[48px]"></app-my-page>
          <app-friends-block
            *ngIf="!hasRoute('friends')"
            class="friends bg-[#fff] rounded-[10px]"
          ></app-friends-block>
        </div>
      </div>
    </div>
  </main>
  <app-modal *ngIf="modalService.$isVisible | async">
    <app-create-product
      *ngIf="modalService.typeModal === variantsModals.TYPE_MODAL_EDIT"
    ></app-create-product>
  </app-modal>
  <app-error *ngIf="errorService.isVisibleErrorModal$ | async"></app-error>
</div>
