<app-header></app-header>
<div class="wrapper">
  <main class="main">
    <div class="container">
      <div class="main__inner w-full max-lg:max-w-[600px] max-xl:mx-auto max-sm:max-w-[500px] max-[540px]:max-w-[300px] max-[329px]:max-w-[240px] flex mt-[20px] 2xl:justify-between max-[1279px]:justify-center">
        <router-outlet class="hidden"></router-outlet>
        <div
          *ngIf="
            !hasRoute('signin') && !hasRoute('signup') && !hasRoute('person')
          "
          class="main__additionally-info flex flex-col max-2xl:w-[365px]  max-[1279px]:hidden w-[460px] mr-[20px]"
        >
          <app-friends-routing
            *ngIf="hasRoute('subscribers')"
          ></app-friends-routing>
          <app-my-page class="w-full"></app-my-page>
          <app-friends-block
            *ngIf="!hasRoute('friends')"
            class="friends bg-[#fff] rounded-[10px] w-full mb-[18px]"
          ></app-friends-block>
        </div>
      </div>
    </div>
  </main>
  <app-modal *ngIf="modalService.$isVisible | async">
    <app-create-product
      *ngIf="modalService.typeModal === variantsModals.TYPE_MODAL_EDIT"
    ></app-create-product>
  </app-modal>
  <app-error *ngIf="errorService.isVisibleErrorModal$ | async"></app-error>
</div>
