<div class="register mb-[64px]">
  <div class="container mx-auto max-w-[400px]">
    <div
      class="register__inner min-h-[600px] px-[6px] bg-[#fff] rounded-[8px] flex flex-col items-center"
    >
      <h1 class="register__title text-[24px] pt-[24px] grow-0">Регистрация</h1>
      <div class="register__title-step text-[#00A3FF] text-[16px] pt-[3px] text-center max-w-[280px]">
        Шаг 1: заполнение основных данных
      </div>
      <div class="register__info grow w-full mt-[5px]">
        <form
          class="register__form flex flex-col justify-between px-[20px]"
          [formGroup]="form"
          (submit)="saveInfoUser()"
        >
          <div class="form-group my-[16px]">
            <label
              class="register__form__username-title inline-block mb-[4px] text-[18px] pl-[8px] text-[#00A3FF]"
              >Имя</label
            >
            <input
              formControlName="username"
              type="text"
              class="register__form__username text-[16px] px-[8px] py-[16px] rounded-[8px] bg-[#ebebeb] w-full placeholder:text-[16px] outline-none border-transparent border-[2px] focus:border-[#00A3FF] duration-[150ms]"
              placeholder="Введите ваше имя"
            />
            <div
              *ngIf="
                username?.invalid && (username?.touched || username?.dirty)
              "
              class="form__errors text-[red] mt-[8px]"
            >
              <div
                class="form__errors-required"
                *ngIf="username?.errors?.['required']"
              >
                Вы не заполнили поле
              </div>
            </div>
          </div>
          <div class="form-group my-[16px]">
            <label
              class="register__form__username-title inline-block mb-[4px] text-[18px] pl-[8px] text-[#00A3FF]"
              >Email</label
            >
            <input
              formControlName="email"
              type="text"
              class="register__form__email text-[16px] px-[8px] py-[16px] rounded-[8px] bg-[#ebebeb] w-full placeholder:text-[16px] outline-none border-transparent border-[2px] focus:border-[#00A3FF] duration-[150ms]"
              placeholder="Введите ваш Email"
            />
            <div
              *ngIf="email?.invalid && (email?.touched || email?.dirty)"
              class="form__errors text-[red] mt-[8px]"
            >
              <div
                class="form__errors-required"
                *ngIf="email?.errors?.['required']"
              >
                Вы не заполнили поле
              </div>
              <div class="form__errors-email" *ngIf="email?.errors?.['email']">
                Данное поле не соответствует стандарту
              </div>
            </div>
          </div>
          <div class="form-group my-[16px]">
            <label
              class="register__form__username-title inline-block mb-[4px] text-[18px] pl-[8px] text-[#00A3FF]"
              >Пароль</label
            >
            <input
              formControlName="password"
              type="password"
              class="register__form__password text-[16px] px-[8px] py-[16px] rounded-[8px] bg-[#ebebeb] w-full placeholder:text-[16px] outline-none border-transparent border-[2px] focus:border-[#00A3FF] duration-[150ms]"
              placeholder="Введите пароль"
            />
            <div
              *ngIf="
                password?.invalid && (password?.touched || password?.dirty)
              "
              class="form__errors text-[red] mt-[8px]"
            >
              <div
                class="form__errors-required"
                *ngIf="password?.errors?.['required']"
              >
                Вы не заполнили поле
              </div>
              <div
                class="form__errors-length"
                *ngIf="password?.errors?.['minlength']"
              >
                Пароль должен быть длиннее 3 символов
              </div>
            </div>
          </div>
          <div class="form-group flex justify-center items-center">
            <button
              class="register__form__btn px-[25px] py-[8px] mb-[20px] bg-[#00A3FF] text-[16px] text-[#ffffff] rounded-[8px] hover:bg-[#52C1FF] duration-[250ms] cursor-pointer"
              type="submit"
            >
              Сохранить
            </button>
          </div>
        </form>
      </div>
      <div class="register__redirect-login text-center pt-[4px] pb-[16px]">
        Если у вас уже есть аккаунт, то вы можете
        <a
          routerLink="/signin"
          class="register__link text-[#00A3FF] hover:text-[#52C1FF] duration-[250ms] cursor-pointer"
          >авторизироваться</a
        >
      </div>
    </div>
  </div>
</div>
