@media (max-width: 1280px) {
    :host {
      flex-grow: 1;
    }
  }
  @media (max-width: 540px){
    :host{
      flex-grow: 0;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }