<div class="search__inner">
  <label class="relative block">
    <span class="absolute flex items-center  inset-y-0 left-0 pl-[20px]"
      ><svg
        width="26"
        height="26"
        viewBox="0 0 26 26"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10.875 20.4375C16.1562 20.4375 20.4375 16.1562 20.4375 10.875C20.4375 5.59378 16.1562 1.3125 10.875 1.3125C5.59378 1.3125 1.3125 5.59378 1.3125 10.875C1.3125 16.1562 5.59378 20.4375 10.875 20.4375Z"
          stroke="#7A7A7A"
          stroke-width="1.28"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M24.6875 24.6875L17.6389 17.6389"
          stroke="#7A7A7A"
          stroke-width="1.28"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </span>
    <input
      type="text"
      class="search__input max-w-[390px] rounded-[10px] pl-[60px] bg-[#EBEBEB] py-[5px] text-[22px] focus:outline-none placeholder:text-[#7A7A7A]"
      placeholder="Поиск"
  /></label>
</div>
