/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        font-family: Roboto;
        font-size: 14px;
        background-color: #EBEBEB;
    }
    .navigation__point {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        cursor: pointer;
    }
    .navigation__link{
        width: 30px;
        height: 30px;
    }
    .post__block-comments_message{
        position: relative;
        border: 1px solid #010101;
    }
    .post__block-comments_message:before{
        content: '';
        position: absolute;
        top: 20px;
        left: -10px;
        border: 10px solid transparent;
        border-bottom: 10px solid #fff;
        border-left: 10px solid #fff;
        z-index: 1;
        transform: rotate(45deg);
    }
    .post__block-comments_message::after{
        content: '';
        position: absolute;
        top: 20px;
        left: -11px;
        border: 10px solid transparent;
        border-bottom: 10px solid #010101;
        border-left: 10px solid #010101;
        z-index: 0;
        transform: rotate(45deg);
    }
    .own{
        color: #fff;
        background-color: #00A3FF;
        min-width: 90px;
    }

}
