<form
  [formGroup]="form"
  class="form__edit"
  (ngSubmit)="setEditions(modalService.typeEdit)"
>
  <div
    class="form__content flex flex-col items-center"
    [ngSwitch]="modalService.typeEdit"
  >
    <div
      class="form__input-info__age w-[280px]"
      *ngSwitchCase="variantsEdit.TYPE_AGE"
    >
      <mat-form-field class="w-full">
        <mat-label>Введите дату рождения</mat-label>
        <input
          matInput
          formControlName="ageValue"
          [matDatepicker]="picker"
          (dateChange)="setUserAge($event.value)"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div
      class="form__input-info__hobby w-full"
      *ngSwitchCase="variantsEdit.TYPE_HOBBY"
    >
      <div
        class="hobby__cells py-[8px]"
        [ngClass]="{ hidden: this.personService.selectHobbyItems.length === 0 }"
      >
        <div
          class="hobby-cell inline-flex items-center px-[8px] py-[4px] rounded-[8px] bg-[#00A3FF] text-[#ffffff] my-[2px] mx-[2px] text-[16px]"
          *ngFor="let selectHobby of personService.selectHobbyItems"
        >
          {{ selectHobby?.information }}
          <span
            class="hobby-cell__close inline-flex justify-center items-center w-[20px] h-[20px] ml-[4px] border-solid border-[#ffffff] border-[2px] rounded-[50%] cursor-pointer"
            (click)="personService.removeSelectHobby(selectHobby.id)"
          >
            <svg
              class="w-full h-full"
              viewBox="0 0 24.00 24.00"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              stroke="#ffffff"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke="#CCCCCC"
                stroke-width="0.672"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <g id="Menu / Close_MD">
                  <path
                    id="Vector"
                    d="M18 18L12 12M12 12L6 6M12 12L18 6M12 12L6 18"
                    stroke="#ffffff"
                    stroke-width="2.4"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </g>
              </g>
            </svg>
          </span>
        </div>
      </div>
      <app-multi-select></app-multi-select>
    </div>
    <div
      class="form__input-info__about w-[420px] p-[16px] bg-[#EBEBEB] rounded-[10px]"
      *ngSwitchCase="variantsEdit.TYPE_ABOUT"
    >
      <textarea
        type="text"
        class="form__input w-full text-[18px] outline-none bg-transparent"
        cdkTextareaAutosize
        formControlName="aboutInfo"
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        placeholder="Новое значение"
        (change)="setAboutInfo()"
      ></textarea>
    </div>
    <div
      class="form__input-info__image"
      *ngSwitchCase="variantsEdit.TYPE_AVATAR"
    >
      <input type="file" accept="image/*" class="form__image-avatar" (change)="onFileChange($event)"/>
    </div>
    <button
      class="form__button inline-flex my-[8px] w-[40px] h-[40px] rounded-[50%] bg-[#00A3FF] justify-center items-center hover:bg-[#52C1FF] duration-[250ms]"
      type="submit"
    >
      <svg
        width="18"
        height="13"
        viewBox="0 0 18 13"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 7L6 12L17 1"
          stroke="white"
          stroke-width="1.28"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
</form>
