<form class="form__edit">
  <div class="form__content flex flex-col items-center">
    <div class="form__input-info__age" *ngIf="modalService.typeEdit === 'age'">
      <mat-form-field>
        <mat-label>Input & change events</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          (dateChange)="addEvent($event.value)"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div
      class="form__input-info__hobby"
      *ngIf="modalService.typeEdit === 'hobby'"
    >
      hobby
    </div>
    <div
      class="form__input-info__about w-[420px] p-[16px] bg-[#EBEBEB] rounded-[10px]"
      *ngIf="modalService.typeEdit === 'about'"
    >
      <textarea
        type="text"
        class="form__input w-full text-[18px] outline-none bg-transparent"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        placeholder="Новое значение"
      ></textarea>
    </div>
    <button
      class="form__button inline-flex my-[8px] w-[40px] h-[40px] rounded-[50%] bg-[#00A3FF] justify-center items-center hover:bg-[#52C1FF] duration-[250ms]"
    >
      <svg
        width="18"
        height="13"
        viewBox="0 0 18 13"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 7L6 12L17 1"
          stroke="white"
          stroke-width="1.28"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
</form>
